@font-face {
  font-family: pingfang-sc-medium;
  src: url('@/assets/font/PingFang-SC-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: pingfang-sc-regular;
  src: url('@/assets/font/PingFangSC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$top-bar-height: 72px;
$sidebar-width: 220px;
$sidebar-padding-lr: 15px;
$circle-center-center-out: circle(10%);
$circle-center-center-in: circle(125%);
$dark-grayish-blue: #303133;
$bg-color-light: #fff;
$bg-color-gray: rgb(237 239 243);
$shadow-color: $bg-color-gray;
