@font-face {
  font-family: pingfang-sc-medium;
  src: url('@/assets/font/PingFang-SC-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: pingfang-sc-regular;
  src: url('@/assets/font/PingFangSC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$top-bar-height: 72px;
$sidebar-width: 220px;
$sidebar-padding-lr: 15px;
$circle-center-center-out: circle(10%);
$circle-center-center-in: circle(125%);
$dark-grayish-blue: #303133;
$bg-color-light: #fff;
$bg-color-dark: #000;
$bg-color-gray: rgb(237 239 243);
$bg-color-gray-2: #b4b4b8;
$primary-color: #1a77ff;
$shadow-color: $bg-color-gray;
$morning-mist-blue: #cfd9df;
$gradient-light-blue: (
  color: #8bc6ec,
  gradient: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%),
);
$gradient-heavy-rain: (
  gradient: linear-gradient(to top, $morning-mist-blue 0%, #e2ebf0 100%),
);
